{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">
            <table id="table_id"
                   class="display"
                   data-url-data="{{ path('data_datatable') }}"
                   data-delete-token="{{ csrf_token('delete'~user) }}"
                   data-delete="{{ path('candidate_delete', {id:0})|slice(1, -1) }}"
                   data-show="{{ path('candidate_show', {id:0})|slice(1, -1) }}"
                   data-detail="{{ path('candidate_detail_dt')}}"
            >
            </table>
        </div>
    </div>

    {{ include('@DatatableProcessing/tools/_datatable_ajax_delete_modal.html.twig')}}

{% endblock %}
